<!-- Anchor to page top -->
<div id="page-top"></div>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="#page-top">&#9729; EyeCloud</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">&#9731; About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">&#9737; Visualizations</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">EyeCloud</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">A visualization and analysis tool for eye movement data of public transport maps.</h2>
      <a href="#about" class="btn btn-primary" style="font-weight: bold; font-size: 16px">Get Started &#10148;</a>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">About EyeCloud</h2>
        <p class="text-white-50">This website is designed for visual computing project course (2IMV15) at
          Technology University of Eindhoven (TU/e). The aim of this project is to help public transport map
          designers and producers to visualize and analyse eye movement data tracked from study participants.
          <a href="https://github.com/veneres/EyeCloud" style="color: aquamarine">https://github.com/veneres/EyeCloud</a>
        </p>
      </div>
    </div>
    <div class="row" style="padding-bottom: 20px">
      <div class="col-lg-8 mx-auto">
        <h3 class="text-white">Collaborators</h3>
          <svg class="d-inline-block" width="90" height="130">
            <defs>
              <pattern id="image1" x="0" y="0" height="90" width="90" patternUnits="userSpaceOnUse">
                <image x="0" y="0" height="90" width="90" xlink:href="../assets/alberto.jpg"></image>
              </pattern>
            </defs>
            <circle cx="45" cy="45" r="45" fill="url(#image1)"/>
            <text x="8" y="115" font-size="20" fill="white">A. Veneri</text>
          </svg>
          <svg class="d-inline-block" width="90" height="130">
            <defs>
              <pattern id="image2" x="0" y="0" height="90" width="90" patternUnits="userSpaceOnUse">
                <image x="0" y="0" height="90" width="90" xlink:href="../assets/sun.jpg"></image>
              </pattern>
            </defs>
            <circle cx="45" cy="45" r="45" fill="url(#image2)"/>
            <text x="20" y="115" font-size="20" fill="white">B. Sun</text>
          </svg>
      </div>
    </div>
  </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container">

    <!-- Featured Project Row -->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-lg-12">
        <app-options></app-options>
      </div>
    </div>

    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <app-attention-heatmap></app-attention-heatmap>
      </div>
      <div class="col-lg-6 order-lg-first">
        <app-attention-cloud></app-attention-cloud>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <app-attention-data></app-attention-data>
      </div>
      <div class="col-lg-6">
        <app-attention-bars-chart></app-attention-bars-chart>
      </div>
    </div>

    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-lg-12">
        <app-gaze-stripes></app-gaze-stripes>
      </div>
    </div>

    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-lg-12">
        <app-map-info></app-map-info>
      </div>
    </div>

    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-lg-12">
        <app-raw-data></app-raw-data>
      </div>
    </div>

  </div>
</section>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
  <div class="container">
    Copyright &copy; EyeCloud (Visual Computing Project 2IM15 TU/e) 2019
  </div>
</footer>
