.image-heatmap {
  width: 100%;
  height: 100%;
}

.card-body {
  min-height: 440px;
}

canvas, .img-heatmap-container {
  position: absolute;
  margin-right: 15px;
  margin-left: 15px;
  top: 90px;
  left: 0px;
}

.padding-up {
  padding-top: 20px;
  padding-bottom: 10px;
}

.padding-side {
  padding-left: 20px;
  padding-right: 20px;
}

.loading-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  left: 0px;
  top: 0px;
  height: 100%;
}

.loading-overlay svg {
  display: block;
}

canvas {
  max-width: calc(100% - 30px);
  ;
}

.heatmap-container {
  width: 100%;
}

#dropdownContent {
  width: 400px;
  left: -300px !important;
}
