<div class="card" *ngIf="displayComponent">
  <div class="card-header">
    <h5 class="d-inline-block">&#9783; Gaze Stripes</h5>
    <div ngbDropdown class="d-inline-block float-right" autoClose="outside">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>&#9881; Settings</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 475px">
        <div class="row padding-side">
          <h6 class="col-md-3 padding-up">Scale</h6>
          <ng5-slider *ngIf="displayComponent" class="col-md-8" [(value)]="scaleValue" [options]="scaleOptions"></ng5-slider>
        </div>
        <div class="row padding-side">
          <h6 class="col-md-3 padding-up">Granularity</h6>
          <ng5-slider *ngIf="displayComponent" class="col-md-8" [(value)]="granularityValue" [options]="granularityOptions"></ng5-slider>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngFor="let user of userIds">
      <div class="row">
        <h5 class="padding-left">{{user.getUserId()}}</h5>
        <div class="col-md-11">
          <drag-scroll>
            <div drag-scroll-item>
                <div id="gaze-stripe-{{user.getUserId()}}" appGazeStripes
                     [scaleValue]="scaleValue" [userFixationData]="userFixationMap" [user]="user.getUserId()"
                     [imageUrl]="imageURL" [imageWidth]="imageWidth" [imageHeight]="imageHeight"
                     [granularity]="granularityValue" [minDuration]="minDuration">
              </div>
            </div>
          </drag-scroll>
        </div>
      </div>
    </div>
  </div>
</div>




