<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <h1 class="center">
    EyeCloud
  </h1>
  <div class="row">
    <div class="col-md-12">
      <app-options
      (currentStimulusEvent)="receiveNewStimulus($event)"
      (currentUsersArrayEvent)="receiveNewUsersArray($event)"
      (displayModeEvent)="receiveDisplayModeEvent($event)" >
      </app-options>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-attention-cloud
        representation="{{displayMode}}"
        stimulusName="{{currentStimulus}}"
        userIds="{{usersArray}}"
        max_thumbnail_size="100"
        thumbnail_portion_width="40">
      </app-attention-cloud>
    </div>
    <div class="col-md-6">
      <app-attention-heatmap stimulusName="{{currentStimulus}}"></app-attention-heatmap>
    </div>
  </div>
</div>

