<!-- Anchor to page top -->
<div id="page-top"></div>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="#page-top">EyeCloud</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Visualizations</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">EyeCloud</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">A visualization and analysis tool for eye movement data of public transport maps.</h2>
      <a href="#about" class="btn btn-primary">Get Started</a>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Visual Computing Project</h2>
        <p class="text-white-50">We are students from Eindhoven University of Technology. This project is to visualize eye movement data.</p>
      </div>
    </div>
  </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container">
    <!-- Featured Project Row -->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <app-options></app-options>
      </div>
    </div>

    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <app-attention-heatmap></app-attention-heatmap>
      </div>
      <div class="col-lg-6 order-lg-first">
        <app-attention-cloud></app-attention-cloud>
      </div>
    </div>

    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6" style="overflow: scroll">
        <app-gaze-stripes></app-gaze-stripes>
      </div>
    </div>

  </div>
</section>

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
  <div class="container">
    Copyright &copy; Your Website 2019
  </div>
</footer>
