<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <h1 class="center">
    EyeCloud
  </h1>
  <div class="row">
    <div class="col-md-6">
      <app-attention-cloud
        stimulusName="21_Pisa_S1.jpg"
        userIds="{{usersArray}}"
        max_thumbnail_size="100"
        thumbnail_portion_width="40">
      </app-attention-cloud>
    </div>
    <div class="col-md-6">
      <app-attention-heatmap></app-attention-heatmap>
    </div>
  </div>
</div>

