<div class="card" *ngIf="displayComponent">
  <div class="card-header">
    <h5 class="d-inline-block">&#9728; Heatmap</h5>
    <div ngbDropdown class="d-inline-block float-right" autoClose="outside">
      <button class="btn btn-outline-primary" id="dropdownHeatmap" ngbDropdownToggle>&#9881; Settings</button>
      <div ngbDropdownMenu aria-labelledby="dropdownHeatmap" id="dropdownContent">
        <div class="row padding-side">
          <h6 class="col-md-5 padding-up"> Visual Span radius (pixel)</h6>
          <ng5-slider  *ngIf="displayComponent" class="col-md-6" [(value)]="visualSpan" [options]="visualSpanOption"></ng5-slider>
        </div>
        <div class="row">
          <div class="col-md-7"></div>
          <button  *ngIf="displayComponent" class="col-md-4 btn btn-primary" type="button" (click)="generate()">Go!</button>
        </div>
        <div class="row padding-side padding-up">
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="hideHeatMapOverlay">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="false"> Show heat map overlay
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="true"> Hide heat map overlay
            </label>
          </div>
        </div>
        <div class="row padding-side padding-up">
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="focusMode">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="false"> Focus mode off
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="true"> Focus mode on
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div appHeatmap [dataset]=dataset [show]=showStimulus [selectedPoint]=selectedPoint [focusMode]=focusMode [clouds]=clouds>
      <div class="img-heatmap-container" *ngIf="showStimulus">
        <img id="img-heatmap" src="{{stimulusUrl}}" class="img-fluid">
      </div>
      <canvas [ngClass]="{'hidden': hideHeatMapOverlay}" id="heatmap" >

      </canvas>
      <canvas id="map-mask" (click)="canvasClick($event)"></canvas>
    </div>
    <div *ngIf="displayLoading" class="loading-overlay">
      <svg id="login_loading" width="200px" height="200px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid" class="lds-ellipsis" style="margin: auto;text-align: center;">
          <circle fill="#f44336" cx="84" cy="50" r="0">
            <animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1"
              keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite"
              begin="0s"></animate>
            <animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1"
              keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite"
              begin="0s"></animate>
          </circle>
          <circle fill="#01579b" cx="40.4434" cy="50" r="10">
            <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1"
              keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite"
              begin="-0.5s"></animate>
            <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1"
              keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite"
              begin="-0.5s"></animate>
          </circle>
          <circle fill="#f44336" cx="16" cy="50" r="7.18924">
            <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1"
              keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite"
              begin="-0.25s"></animate>
            <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1"
              keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite"
              begin="-0.25s"></animate>
          </circle>
          <circle fill="#01579b" cx="84" cy="50" r="2.81076">
            <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1"
              keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite"
              begin="0s"></animate>
            <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1"
              keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite"
              begin="0s"></animate>
          </circle>
          <circle fill="#f44336" cx="74.4434" cy="50" r="10">
            <animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1"
              keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite"
              begin="0s"></animate>
            <animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1"
              keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1s" repeatCount="indefinite"
              begin="0s"></animate>
          </circle>
        </svg>
    </div>
  </div>
</div>

