<div class="card">
  <div class="card-header">
    <h5 class="d-inline-block">Attention Cloud</h5>
    <div ngbDropdown class="d-inline-block float-right" autoClose="outside">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Settings</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 400px">
        <div class="row padding-side">
          <h6 class="col-md-5 padding-up">max cropping size</h6>
          <ng5-slider class="col-md-6" [(value)]="maxCroppingSizeValue" [options]="maxCroppingSizeOptions"></ng5-slider>
        </div>
        <div class="row padding-side">
          <h6 class="col-md-5 padding-up">min cropping size</h6>
          <ng5-slider class="col-md-6" [(value)]="minCroppingSizeValue" [options]="minCroppingSizeOptions"></ng5-slider>
        </div>
        <div class="row padding-side">
          <h6 class="col-md-5 padding-up">cluster radius</h6>
          <ng5-slider class="col-md-6" [(value)]="clusterRadiusValue" [options]="clusterRadiusOptions"></ng5-slider>
        </div>
        <div class="row padding-side">
          <h6 class="col-md-5 padding-up">num data points</h6>
          <ng5-slider class="col-md-6" [(value)]="numPointsValue" [options]="numPointsOptions"></ng5-slider>
        </div>
        <div class="dropdown-divider"></div>
        <div class="row">
          <div class="col-md-7"></div>
          <button class="col-md-4 btn btn-primary" type="button" (click)="generate()">Go!</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <svg id="svg-attention-cloud" appAttentionCloud [attr.width]="svgWidth" [attr.height]="svgHeight" [thumbnailData]="thumbnails"
         [imageUrl]="imageURL" [imageWidth]="imageWidth" [imageHeight]="imageHeight">
    </svg>
  </div>
</div>
